<nav class="navbar navbar-default navbar-light">
  <ul class="nav navbar-nav">
    <li class="router-link"><a routerLink="List">List</a></li>
    <li class="router-link"><a routerLink="Create">Create</a></li>
    <li class="router-link"><a routerLink="Bootstap">Bootstap</a></li>
    <li class="router-link"><a routerLink="Bootstap1">Bootstap1</a></li>
  </ul>
  
</nav>
<div class="panel-header-top-margin container">
  <!--<app-list-employees></app-list-employees>-->
  <router-outlet></router-outlet>
</div>

